SERVER=
SECRET_KEY_DJ=
PROJECT_ROOT=/srv/kitchen


################
### DATABASE ###
################
# Postgresql
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432

# MySQL
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=3306
